{% extends "admin/master.html.twig" %}

{% block title %}-User Edit{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Update user information</h1>
	{% if errorList %}
		<ul class="errorMessage">
			{% for error in errorList %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="container-fluid m-0">
		<form class="form center" method="post">

			<input type="text" name="firstName" value="{{ v.firstName }}" id="inputFirstname" class="form-control" placeholder="First name" required=" " autofocus="">

			<input type="text" name="lastName" value="{{ v.lastName }}" id="inputLastname" class="form-control" placeholder="Last name" required=" " autofocus="">

			<input type="text" name="nickname" value="{{ v.nickname }}" id="inputNickname" class="form-control" placeholder="Nickname (appears on orders)" autofocus="">

			<input type="text" name="mobilePhone" value="{{ v.mobilePhone }}" id="inputMobilePhone" class="form-control" placeholder="123-456-7890" autofocus="">

			<input type="email" name="email" value="{{ v.email }}" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
			<span class="errorMessage" id="emailTaken"></span>

            <p>(Only provide password if you're changing it for this user)</p>
			<input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="Password" required="">

			<input type="password" name="pass2" id="inputPassword2" class="form-control" placeholder="Repeat Password" required="">

			<input type="submit" class="btn btn-lg btn-secondary btn-block m-0" value="Update user data">

		</form>
	</div>
{% endblock %}
