{% extends "/admin/master.html.twig" %}

{% block title %}User List{% endblock %}

{% block content %}
<h2>User List <a href="/admin/users/add" class="btn btn-warning ml-xs-0 ml-sm-5" role="button">ADD NEW USER</a></h2>
<div class="table-responsive-md">
<table class="table table-sm table-hover ">
<caption>List of users</caption>
  <thead>
<tr>
    <th>User Id</th>
    <th>Email</th>
    <th>Phone</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>Rewards</th>
    <th>Photo</th>
    <th>Created On</th>
    <th>Admin User</th>
    <th colspan="2">Actions</th>
</tr>
</thead>
  <tbody>
    {% for u in usersList %}
<tr>
    <td>{{u.userId}}</td>
    <td>{{u.email}}</td>
    <td>{{u.mobilePhone}}</td>
    <td>{{u.firstName}}</td>
    <td>{{u.lastName}}</td>
    <td>{{u.nickname}}</td>
    <td>{{u.rewards}}</td>
    <td>{{u.photoFilePath}}</td>
    <td>{{u.creationTS}}</td>
    <td>{{u.adminuser}}</td>
    <td><a href="/admin/users/edit/{{u.userId}}">edit</a></td>
    <td><a href="/admin/users/delete/{{u.userId}}">delete</a></td>
</tr>

    {% endfor %}
    </tbody>
</table> 
</div> 
{% endblock %}