{% extends "/master.html.twig" %}

{% block title %}Cart list
{% endblock %}

{% block content %}
	<h2>Cart<a href="/menu" class="btn btn-warning ml-xs-0 ml-sm-5" role="button">RETURN TO MENU TO ADD ANOTHER ITEM TO CART</a>
	</h2>
	<div class="table-responsive-md">
		<table class="table table-sm table-hover ">
			{#<caption>List of cart items</caption>#}
			<thead>
				<tr>
					<th>name</th>
					<th>size</th>
					<th>price</th>
					<th>quantity</th>
                    <th>ext price</th>
				</tr>
			</thead>
			<tbody>
				{% for ci in cartitemList %}
					<tr>
						<td>{{ci.itemName}}</td>
						<td>{{ci.size}}</td>
						<td>{{ci.price}}</td>
						<td>{{ci.quantity}}</td>
                        <td> {{ci.extprice}}</td>
						<td>
							<a href="/cart/delete/{{ci.cartId}}">delete</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

        {% for cs in cartitemSum %}
            <p> sum : {{cs.sumprice}} </p>
        {% endfor %}
	</div>
{% endblock %}