{% extends "master.html.twig" %}

{% block title %}Menu
{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css">
		.important {
			color: #336699;
		}
	</style>
{% endblock %}

{% block content %}


	<div class="container-fluid menu">

<div> menuList is next </div>


        <ul class="menuItem">
		<h1>Cafe </h1>
        {% for c in cafeList %}
            <div>{{c.itemName}} {{c.price}} {{c.priceMed}} {{c.priceLrg}}</div>
        {% endfor %}
        </ul>
		<br>
		<ul class="menuItem">
		<h1>Bake </h1>
        {% for b in bakeList %}
            <div>{{b.itemName}} {{b.price}} {{b.priceMed}} {{b.priceLrg}}</div>
        {% endfor %}
        </ul>
  
 </div>



			{% endblock %}