{% extends "master.html.twig" %}

{% block title %}Menu
{% endblock %}
{% block head %}
	{{ parent() }}
	<style type="text/css">
		.important {
			color: #336699;
		}
	</style>
{% endblock %}

{% block content %}


	<div class="container-fluid menu">

		<div class="row">
			<div class="col-sm-12 col-md-6"><img src="/images/menuCoffees.jpg" width="100%">
			</div>
			<div class="col-sm-12 col-md-6">
				<form>
					<table width="45%">
						<caption>Coffee menu</caption>
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">sm</th>
								<th scope="col">med</th>
								<th scope="col">lrg</th>
							</tr>
						</thead>
						<tr>
							{% for item in menu %}

								<td>
									<a href="/menu/{{ item.categoryCode }}">{{ item.itemName }}</a>
								</td>
								<td>
									<a href="/menu/{{ item.categoryCode }}">{{ item.price }}</a>
								</td>
								<td>
									<a href="/menu/{{ item.categoryCode }}">{{ item.priceMed }}</a>
								</td>
								<td>
									<a href="/menu/{{ item.categoryCode }}">{{ item.priceLrg }}</a>
								</td>
							</tr>
						{% endfor %}
					</table>
				</form>

			{% endblock %}
