{% extends "master.html.twig" %}

{% block title %}Menu
{% endblock %}
{% block head %}
	{{ parent() }}
	<style>
		.tab {
			margin-left: 40px;
			line-height: 16px;
		}
	</style>
{% endblock %}

{% block content %}


	<div class="container-fluid bg-light pl-3 pr-3">

		<div class="row h-100">
			<div class="col-sm-12 col-md-6 p-0 h-100">
				<img src="/images/menuCoffees.jpg" width="100%" height="400">
			</div>
			<div class="col-sm-12 col-md-6 p-0 ml-0">
				<ul class="menuItem">
					<h3>Coffees
					</h3>
					{% for c in cafeList %}
						<div class="tab">{{c.itemName}}</div>
						<div class="tab text-right">
							<span>{{c.price}}</span>
							<span class="tab text-right">{{c.priceMed}}</span>
							<span class="tab text-right">{{c.priceLrg}}</span>
						</div>
					{% endfor %}
				</ul>
			</div>
		</div>


		<div class="row h-100">
			<div class="col-sm-12 col-md-6 p-0">
				<ul class="menuItem tab">
					<h3>Teas
					</h3>
					{% for t in teaList %}
						<div>{{t.itemName}}
							{{t.price}}
							{{t.priceMed}}
							{{t.priceLrg}}</div>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 p-0 h-100">
				<img src="/images/menuTeas.jpg" width="100%" height="400">
			</div>
		</div>


		<div class="row h-100">
			<div class="col-sm-12 col-md-6 p-0 h-100">
				<img src="/images/menuPastries.jpg" width="100%" height="400">
			</div>
			<div class="col-sm-12 col-md-6 p-0">
				<ul class="menuItem">
					<h3>Bake
					</h3>
					{% for b in bakeList %}
						<div>{{b.itemName}}
							{{b.price}}
							{{b.priceMed}}
							{{b.priceLrg}}</div>
					{% endfor %}
					{% for s in sandList %}
						<div>{{s.itemName}}
							{{s.price}}
							{{s.priceMed}}
							{{s.priceLrg}}</div>
					{% endfor %}
				</ul>
			</div>
		</div>


		<div class="row h-100">
			<div class="col-sm-12 col-md-6 p-0">
				<ul class="menuItem">
					<h3>Bake
					</h3>
					{% for b in bakeList %}
						<div>{{b.itemName}}
							{{b.price}}
							{{b.priceMed}}
							{{b.priceLrg}}</div>
					{% endfor %}
					{% for s in sandList %}
						<div>{{s.itemName}}
							{{s.price}}
							{{s.priceMed}}
							{{s.priceLrg}}</div>
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-12 col-md-6 p-0 h-100">
				<img src="/images/menuCoffeeBean.jpg" width="100%" height="400">
			</div>

		</div>


	</div>
{% endblock %}
