{% extends "master.html.twig" %}

{% block title %}Register
{% endblock %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () { // alert("jQuery works");
$('input[name=email]').on('paste blur change input', function () {
var email = $('input[name=email]').val();
$("#emailTaken").load("/isemailtaken/" + email);
});

$(document).ajaxError(function (event, jqxhr, settings, thrownError) {
console.log("Ajax error occured on " + settings.url);
alert("Ajax error occured");
});

});
	</script>
{% endblock %}

{% block content %}
	{% if errorList %}
		<ul class="errorMessage">
			{% for error in errorList %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<form class="form-signin center" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Jitters Registration Form</h1>
		{# <img class="mb-4" src="/images/icons8-cup-50.png" alt="" width="52" height="52"> #}
		<span class="h5 mb-3 font-weight-normal">
			<h4 class="h4 mb-3 font-weight-normal">
				Already a member?
				<a href="/login">
					Log In</a>
			</h4>
		</span>


		<input type="text" name="firstName" value="{{ v.firstName }}" id="inputFirstname" class="form-control" placeholder="First name" required=" " autofocus="">

		<input type="text" name="lastName" value="{{ v.lastName }}" id="inputLastname" class="form-control" placeholder="Last name" required=" " autofocus="">

		<input type="text" name="nickname" value="{{ v.nickname }}" id="inputNickname" class="form-control" placeholder="Nickname (appears on orders)" autofocus="">

		<input type="email" name="email" value="{{ v.email }}" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
		<span class="errorMessage" id="emailTaken"></span>
		{# <label for="inputPassword" class="sr-only">Password</label> #}

		<input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="Password" required="">

		<inputtype="password" name="pass2" id="inputPassword2" class="form-control" placeholder="Repeat Password" required="">

			<button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">Register</button>
		</form>
{% endblock  content %}
