{% extends "master.html.twig" %}

{% block title %}Register
{% endblock %}

{% block head %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () { // alert("jQuery works");
$('input[name=email]').on('paste blur change input', function () {
var email = $('input[name=email]').val();
$("#emailTaken").load("/isemailtaken/" + email);
});

$(document).ajaxError(function (event, jqxhr, settings, thrownError) {
console.log("Ajax error occured on " + settings.url);
alert("Ajax error occured");
});

});
	</script>
{% endblock %}

{% block content %}

	{% if errorList %}
		<ul class="errorMessage">
			{% for error in errorList %}
				<li>{{error}}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<div class="container-fluid m-0">
		<form class="form center" method="post">
			<h1 class="h3 mb-3 font-weight-bold">J<sub>
									i</sub>
								<sup>t</sup>
								t<sub>
									e</sub>
								<sup>r</sup>
								s </h1>
								<h2>Registration Form</h2>
			<span class="h5 font-weight-normal">
				<h4 class="h4 mt-3 mb-3 font-weight-normal">
					Already a member?
					<a href="/login">
						Log In</a>
				</h4>
			</span>


			<input type="text" name="firstName" value="{{ v.firstName }}" id="inputFirstname" class="form-control" placeholder="First name" required=" " autofocus="">

			<input type="text" name="lastName" value="{{ v.lastName }}" id="inputLastname" class="form-control" placeholder="Last name" required=" " autofocus="">

			<input type="text" name="nickname" value="{{ v.nickname }}" id="inputNickname" class="form-control" placeholder="Nickname (appears on orders)" autofocus="">
			
			<input type="text" name="mobilePhone" value="{{ v.mobilePhone }}" id="inputMobilePhone" class="form-control" placeholder="123-456-7890" autofocus="">

			<input type="email" name="email" value="{{ v.email }}" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
			<span class="errorMessage" id="emailTaken"></span>

			<input type="password" name="pass1" id="inputPassword" class="form-control" placeholder="Password" required="">

			<input type="password" name="pass2" id="inputPassword2" class="form-control" placeholder="Repeat Password" required="">

			<input type="submit" class="btn btn-lg btn-secondary btn-block m-0" value="Register">

			</form>
		</div>
	{% endblock %}
